@media (max-width: 400px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        color: black;
    }
    body {
        font-size: 16px;
        padding: 5em 0 0 0;
        box-sizing: border-box;
    }
    .header {
        position: fixed;
        top: 1em;
        width: 100%;
        background: rgba(255, 255, 255, 01);
        padding: 0.1em 0;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }
    div>a {
        text-decoration: none;
    }
    .frm11 {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5em 3em;
        background: yellow;
    }
    .frm11 img {
        width: 6em;
    }
    .frm12 {
        width: 100%;
        display: none;
        flex-direction: column;
        justify-content: space-between;
        background: yellowgreen;
    }
    .frm121 {
        width: 100%;
        padding: 0 3%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .frm122 {
        width: 100%;
        padding: 0 5%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .frm1221 {
        height: 1.5em;
        background: orange;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0.5em;
    }
    .frm1222 {
        padding: 0.5em;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .frm1223 {
        display: flex;
        width: 30%;
    }
    .frm1223>img {
        width: 50%;
    }
    .frm13 {
        display: flex;
        justify-content: flex-end;
        position: absolute;
        top: 2%;
        right: 2%;
    }
    .frm13>img {
        width: 3em;
    }
    .eng {
        display: none;
    }
    .esp {}
    .slider {
        width: 90%;
        margin: auto;
    }
    .slide {
        width: 100%;
    }
    .show {
        display: flex;
    }
    .hide {
        display: none;
    }
}